<p>footer works!</p>

<div class="footer">
  <div class="footer__icons">

    <div class="footer__icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon">light_mode</mat-icon>
      <br>
      <p>День</p>
    </div>

    <div class="footer__icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon">mode_night</mat-icon>
      <br>
      <p>Ночь</p>
    </div>

    <div class="footer__icon">
      <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>
      <br>
      <p>Аккаунт</p>
    </div>

  </div>





  <figure class="footer__icon">
    <img
      src="https://scontent.fmsq2-1.fna.fbcdn.net/v/t1.6435-9/126177227_1288756908139265_1300203750185981821_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=09cbfe&_nc_eui2=AeHTHof_O8N9GKDlaHmo7dE2CSKyTqLgCnIJIrJOouAKchK6HARee16z4WWD-NOj5tvhzMdnelZUmiOZYaFH2KVE&_nc_ohc=wH4GKi9_OJwAX-t1DDm&_nc_ht=scontent.fmsq2-1.fna&oh=842d725f2b8f89519270da8b0edba0b3&oe=6190DCCE"
      alt="Ageev Dmitry" srcset="" height="50" width="50">
    <figcaption>снова я)))</figcaption>
  </figure>


</div>
